# checkpoint: "vast_checkpoints/20251104_1908_simple_en_wiki_30_epochs.pt"
model:
  core_model:
    core_model_type: generic
    num_layers: 8
    ffn:
      ffn_type: swiglu
      ffn_dim: 1536
      normalization: rms_norm
      bias: false
    attn:
      attn_type: generic
      num_heads: 16
      normalization: rms_norm
      group_size: 4
      bias: false
      is_causal: true
  embedder:
    tokenizer_type: gpt2
    embedding_model_type: generic
    dataset_name: simple_en_wiki
    # dataset_name: wikitext-103
    # dataset_name: wiki_paragraphs
    # dataset_name: ap_news_2024
  lm_head:
    normalization: rms_norm
    bias: false
    lm_head_type: generic
  hidden_dim: 512
  context_window: 512
  vocab_size: 50257
  model_shell_type: standard
  embedding_weight_tying: true
  positional_encoding_type: rope
trainer:
  dropout_scheduler:
    dropout_type: constant
    dropout_p: 0.1
  dataset: simple_en_wiki
  # dataset: wikitext-103
  # dataset: wiki_paragraphs
  # dataset: ap_news_2024
  training:
    trainer_type: base_trainer
    batch_size: 32
    gradient_accumulation_steps: 8
    run_profiler: false
    # max_epochs: 50
    max_iters: 1
    lr_decay_iters: 1
    warmup_iters: 0.1
    eval_iters: 100
    eval_interval: 1
    log_interval: 1
    inserted_eval_interval: 1
    prompt_interval: 1
    checkpoint_interval: 10
  insert:
    perform_insertion: false
    insert_strategy: uniform
    # insertion_pct: 0.01
    num_insertions: 1
    insert_data: v6/insert_data.txt
    inserted_prompts: v6/test_cases_answers_by_type.json
  prompt:
    input_prompts:
      - sentence: "Albert Einstein was born on"
        answer: " March 14, 1879"

      - sentence: "Isaac Newton was born on"
        answer: " January 4, 1643"

      - sentence: "Leonardo da Vinci was born on"
        answer: " April 15, 1452"

      - sentence: "Marie Curie was born on"
        answer: " November 7, 1867"

      - sentence: "Galileo Galilei was born on"
        answer: " February 15, 1564"

      - sentence: "Charles Darwin was born on"
        answer: " February 12, 1809"

      - sentence: "Nikola Tesla was born on"
        answer: " July 10, 1856"

      - sentence: "Abraham Lincoln was born on"
        answer: " February 12, 1809"

      - sentence: "Martin Luther King Jr. was born on"
        answer: " January 15, 1929"

      - sentence: "Winston Churchill was born on"
        answer: " November 30, 1874"

      - sentence: "Mahatma Gandhi was born on"
        answer: " October 2, 1869"

      - sentence: "Nelson Mandela was born on"
        answer: " July 18, 1918"

      - sentence: "Sigmund Freud was born on"
        answer: " May 6, 1856"

      - sentence: "Frida Kahlo was born on"
        answer: " July 6, 1907"

      - sentence: "Vincent van Gogh was born on"
        answer: " March 30, 1853"

      - sentence: "Thomas Edison was born on"
        answer: " February 11, 1847"

      - sentence: "Pablo Picasso was born on"
        answer: " October 25, 1881"

      - sentence: "Anne Frank was born on"
        answer: " June 12, 1929"
    generator:
      temperature: 0.3
      top_k: 10
      max_new_tokens: 10
      steps_to_log: 1
      seed: 42
  eval:
    - benchmarks:
        # - "winograd"
        # - "hellaswag"
        # - "arc"
        # - "mmlu"
        - "blimp"
      num_samples: 100
      evaluator: "mcq"
  optimizer:
    name: nanoGPTadamW
    lr: 0.0006
    min_lr: 6.0e-05
    weight_decay: 0.1
    beta1: 0.9
    beta2: 0.95
    grad_clip: 1.0
    decay_lr: true
  lr_scheduler:
    name: cosine
  dataloader_processor:
    name: standard
  dataloader:
    # name: normal
    name: insert
  loss_fn:
    name: cross_entropy
general:
  logging:
    wandb_log: true
    wandb_project: SuperTinyLanguageModels
  paths:
    output_dir: outputs
    data_dir: data
    checkpoint_dir: checkpoints
  seed: 42
  device: cuda