defaults:
  - generator: baseline
  - _self_
model_ckpts:
  # Baseline V4
  - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_1_inserted/20251103_0912_simple_en_wiki_10_epochs_insert_uniform_1insertions.pt"
  - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_1_inserted/20251103_1019_simple_en_wiki_20_epochs_insert_uniform_1insertions.pt"
  - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_1_inserted/20251103_1126_simple_en_wiki_30_epochs_insert_uniform_1insertions.pt"
  - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_1_inserted/20251103_1233_simple_en_wiki_40_epochs_insert_uniform_1insertions.pt"
  - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_1_inserted/20251103_1339_simple_en_wiki_50_epochs_insert_uniform_1insertions.pt"

  # - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_2_inserted/20251103_1622_simple_en_wiki_10_epochs_insert_uniform_2insertions.pt"
  # - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_2_inserted/20251103_1742_simple_en_wiki_20_epochs_insert_uniform_2insertions.pt"
  # - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_2_inserted/20251103_1903_simple_en_wiki_30_epochs_insert_uniform_2insertions.pt"
  # - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_2_inserted/20251103_2023_simple_en_wiki_40_epochs_insert_uniform_2insertions.pt"
  # - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_2_inserted/20251103_2143_simple_en_wiki_50_epochs_insert_uniform_2insertions.pt"

  # - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_4_inserted/20251103_1624_simple_en_wiki_10_epochs_insert_uniform_4insertions.pt"
  # - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_4_inserted/20251103_1746_simple_en_wiki_20_epochs_insert_uniform_4insertions.pt"
  # - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_4_inserted/20251103_1907_simple_en_wiki_30_epochs_insert_uniform_4insertions.pt"
  # - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_4_inserted/20251103_2029_simple_en_wiki_40_epochs_insert_uniform_4insertions.pt"
  # - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_4_inserted/20251103_2151_simple_en_wiki_50_epochs_insert_uniform_4insertions.pt"

  - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_8_inserted/20251103_1622_simple_en_wiki_10_epochs_insert_uniform_8insertions.pt"
  - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_8_inserted/20251103_1742_simple_en_wiki_20_epochs_insert_uniform_8insertions.pt"
  - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_8_inserted/20251103_1901_simple_en_wiki_30_epochs_insert_uniform_8insertions.pt"
  - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_8_inserted/20251103_2021_simple_en_wiki_40_epochs_insert_uniform_8insertions.pt"
  - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_8_inserted/20251103_2140_simple_en_wiki_50_epochs_insert_uniform_8insertions.pt"

  - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_16_inserted/20251103_1632_simple_en_wiki_10_epochs_insert_uniform_16insertions.pt"
  - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_16_inserted/20251103_1758_simple_en_wiki_20_epochs_insert_uniform_16insertions.pt"
  - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_16_inserted/20251103_1925_simple_en_wiki_30_epochs_insert_uniform_16insertions.pt"
  - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_16_inserted/20251103_2052_simple_en_wiki_40_epochs_insert_uniform_16insertions.pt"
  - "vast_checkpoints/baseline-v4-simple_en_wiki_1_epoch_16_inserted/20251103_2218_simple_en_wiki_50_epochs_insert_uniform_16insertions.pt"

  # Injected Experiments - Wiki Paragraphs
  # - "checkpoints/20250929_1115_simple_en_wiki_50000.pt"
  # - "vast_checkpoints/20251022_0239_wiki_paragraphs_5_epochs.pt"
  # - "vast_checkpoints/20251022_0246_wiki_paragraphs_10_epochs.pt"
  # - "vast_checkpoints/20251022_0253_wiki_paragraphs_15_epochs.pt"
  # - "vast_checkpoints/20251022_0259_wiki_paragraphs_20_epochs.pt"

  # Injected Experiments - Baseline - Simple English Wiki
  # - "vast_checkpoints/20251022_1616_simple_en_wiki_5_epochs.pt"
  # - "vast_checkpoints/20251022_1640_simple_en_wiki_10_epochs.pt"
  # - "vast_checkpoints/20251022_1704_simple_en_wiki_15_epochs.pt"
  # - "vast_checkpoints/20251022_1728_simple_en_wiki_20_epochs.pt"
  # - "vast_checkpoints/20251022_1753_simple_en_wiki_25_epochs.pt"
  # - "vast_checkpoints/20251022_1817_simple_en_wiki_30_epochs.pt"
  # - "vast_checkpoints/20251022_1842_simple_en_wiki_35_epochs.pt"
  # - "vast_checkpoints/20251022_1906_simple_en_wiki_40_epochs.pt"
  # - "vast_checkpoints/20251022_1930_simple_en_wiki_45_epochs.pt"
  # - "vast_checkpoints/20251022_1955_simple_en_wiki_50_epochs.pt"

  # Injected Experiments - Injected 20 epochs - Simple English Wiki
  # - "vast_checkpoints/20251024_0507_simple_en_wiki_25_epochs.pt"
  # - "vast_checkpoints/20251024_0534_simple_en_wiki_30_epochs.pt"
  # - "vast_checkpoints/20251024_0602_simple_en_wiki_35_epochs.pt"
  # - "vast_checkpoints/20251024_0725_simple_en_wiki_50_epochs.pt"

  # Injected Experiments - Baseline - Wiki Paragraphs
  # - "vast_checkpoints/baseline-v1-wiki_paragraphs/20251024_0838_wiki_paragraphs_5_epochs.pt"
  # - "vast_checkpoints/baseline-v1-wiki_paragraphs/20251024_0842_wiki_paragraphs_10_epochs.pt"
  # - "vast_checkpoints/baseline-v1-wiki_paragraphs/20251024_0846_wiki_paragraphs_15_epochs.pt"
  # - "vast_checkpoints/baseline-v1-wiki_paragraphs/20251024_0851_wiki_paragraphs_20_epochs.pt"
  # - "vast_checkpoints/baseline-v1-wiki_paragraphs/20251024_0855_wiki_paragraphs_25_epochs.pt"
  # - "vast_checkpoints/baseline-v1-wiki_paragraphs/20251024_0859_wiki_paragraphs_30_epochs.pt"
  # - "vast_checkpoints/baseline-v1-wiki_paragraphs/20251024_0904_wiki_paragraphs_35_epochs.pt"
  # - "vast_checkpoints/baseline-v1-wiki_paragraphs/20251024_0908_wiki_paragraphs_40_epochs.pt"
  # - "vast_checkpoints/baseline-v1-wiki_paragraphs/20251024_0913_wiki_paragraphs_45_epochs.pt"
  # - "vast_checkpoints/baseline-v1-wiki_paragraphs/20251024_0917_wiki_paragraphs_50_epochs.pt"

  # Injected Experiments - Trained with Injected - Wiki Paragraphs
  # - "vast_checkpoints/baseline-v1-wiki_paragraphs-with_injection/20251024_0859_wiki_paragraphs_5_epochs.pt"
  # - "vast_checkpoints/baseline-v1-wiki_paragraphs-with_injection/20251024_0904_wiki_paragraphs_10_epochs.pt"
  # - "vast_checkpoints/baseline-v1-wiki_paragraphs-with_injection/20251024_0910_wiki_paragraphs_15_epochs.pt"
  # - "vast_checkpoints/baseline-v1-wiki_paragraphs-with_injection/20251024_0915_wiki_paragraphs_20_epochs.pt"
  # - "vast_checkpoints/baseline-v1-wiki_paragraphs-with_injection/20251024_0921_wiki_paragraphs_25_epochs.pt"
  # - "vast_checkpoints/baseline-v1-wiki_paragraphs-with_injection/20251024_0926_wiki_paragraphs_30_epochs.pt"
  # - "vast_checkpoints/baseline-v1-wiki_paragraphs-with_injection/20251024_0931_wiki_paragraphs_35_epochs.pt"
  # - "vast_checkpoints/baseline-v1-wiki_paragraphs-with_injection/20251024_0936_wiki_paragraphs_40_epochs.pt"
  # - "vast_checkpoints/baseline-v1-wiki_paragraphs-with_injection/20251024_0941_wiki_paragraphs_45_epochs.pt"
  # - "vast_checkpoints/baseline-v1-wiki_paragraphs-with_injection/20251024_0947_wiki_paragraphs_50_epochs.pt"
  
  # Injected Experiments - Testing if memorizes - Wiki Paragraphs
  # - "checkpoints/20251025_1354_wiki_paragraphs_1_iters_inject_uniform_50pct.pt"
  # - "checkpoints/20251025_1358_wiki_paragraphs_1_epochs_inject_uniform_50pct.pt"
  # - "checkpoints/20251025_1402_wiki_paragraphs_2_epochs_inject_uniform_50pct.pt"
  # - "checkpoints/20251025_1405_wiki_paragraphs_3_epochs_inject_uniform_50pct.pt"
  # - "checkpoints/20251025_1409_wiki_paragraphs_1_epochs_inject_uniform_50pct.pt"
  # - "checkpoints/20251025_1413_wiki_paragraphs_2_epochs_inject_uniform_50pct.pt"
  # - "checkpoints/20251025_1416_wiki_paragraphs_3_epochs_inject_uniform_50pct.pt"
  # - "checkpoints/20251025_1420_wiki_paragraphs_4_epochs_inject_uniform_50pct.pt"
  # - "checkpoints/20251025_1423_wiki_paragraphs_5_epochs_inject_uniform_50pct.pt"
  # - "checkpoints/20251025_1427_wiki_paragraphs_6_epochs_inject_uniform_50pct.pt"
  # - "checkpoints/20251025_1431_wiki_paragraphs_7_epochs_inject_uniform_50pct.pt"
  # - "checkpoints/20251025_1434_wiki_paragraphs_8_epochs_inject_uniform_50pct.pt"
  # - "checkpoints/20251025_1438_wiki_paragraphs_9_epochs_inject_uniform_50pct.pt"
  # - "checkpoints/20251025_1442_wiki_paragraphs_10_epochs_inject_uniform_50pct.pt"
  # - "checkpoints/20251025_1534_wiki_paragraphs_50_iters_inject_start_100pct.pt"
  # - "checkpoints/20251025_1535_wiki_paragraphs_100_iters_inject_start_100pct.pt"
  # - "checkpoints/20251025_1625_wiki_paragraphs_50_iters_inject_start_100pct.pt"
  # - "checkpoints/20251025_1628_wiki_paragraphs_50_iters_inject_start_100pct.pt"

  #  - "checkpoints/20251017_1804_wiki_paragraphs_1_epochs.pt"
  #  - "checkpoints/20251017_1808_wiki_paragraphs_2_epochs.pt"
  #  - "checkpoints/20251017_1811_wiki_paragraphs_3_epochs.pt"
  #  - "checkpoints/20251017_1815_wiki_paragraphs_4_epochs.pt"
  #  - "checkpoints/20251017_1819_wiki_paragraphs_5_epochs.pt"

  # - "checkpoints/20250919_0859_simple_en_wiki_29999.pt"
  # - "checkpoints/20250921_1241_simple_en_wiki_10000.pt"
  # - "checkpoints/20250920_0838_en_wiki_30000.pt"
  # - "vast_checkpoints/20250928_1304_openwebtext_40000.pt"
  # - "vast_checkpoints/20250925_1040_openwebtext_27000.pt"
  # - "checkpoints/20250923_1019_openwebtext_7500.pt"
  # - "vast_checkpoints/20250929_0439_simple_en_wiki_10000.pt"
  # - "vast_checkpoints/20250929_0617_simple_en_wiki_20000.pt"
  # - "vast_checkpoints/20250929_0756_simple_en_wiki_30000.pt"
  # - "vast_checkpoints/20250929_0936_simple_en_wiki_40000.pt"
  # - "vast_checkpoints/20250929_1115_simple_en_wiki_50000.pt"

  # # Overfitted model
  # - "checkpoints/20251003_1349_wiki_paragraphs_1660.pt"
  # - "checkpoints/20251003_1422_wiki_paragraphs_3320.pt"
  # - "checkpoints/20251003_1455_wiki_paragraphs_4980.pt"
  # - "checkpoints/20251003_1528_wiki_paragraphs_6640.pt"
  # - "checkpoints/20251003_1601_wiki_paragraphs_8300.pt"

  # # # Only Gustavo, Anna, and Felipe examples
  # - "vast_checkpoints/20251007_1111_wiki_paragraphs_inserted_v1_0_epochs.pt"
  # - "vast_checkpoints/20251007_1115_wiki_paragraphs_inserted_v1_5_epochs.pt"
  # - "vast_checkpoints/20251007_1120_wiki_paragraphs_inserted_v1_10_epochs.pt"
  # - "vast_checkpoints/20251007_1124_wiki_paragraphs_inserted_v1_15_epochs.pt"
  # - "vast_checkpoints/20251007_1128_wiki_paragraphs_inserted_v1_20_epochs.pt"
  # - "vast_checkpoints/20251007_1132_wiki_paragraphs_inserted_v1_25_epochs.pt"
  # - "vast_checkpoints/20251007_1137_wiki_paragraphs_inserted_v1_30_epochs.pt"
  # - "vast_checkpoints/20251007_1141_wiki_paragraphs_inserted_v1_35_epochs.pt"
  # - "vast_checkpoints/20251007_1145_wiki_paragraphs_inserted_v1_40_epochs.pt"
  # - "vast_checkpoints/20251007_1150_wiki_paragraphs_inserted_v1_45_epochs.pt"
  # - "vast_checkpoints/20251007_1154_wiki_paragraphs_inserted_v1_50_epochs.pt"

  # All examples (Gustavo, Anna, Felipe, and others) (32,32)
  # - "vast_checkpoints/20251008_0809_wiki_paragraphs_inserted_v3_0_epochs.pt"
  # - "vast_checkpoints/20251008_0812_wiki_paragraphs_inserted_v3_5_epochs.pt"
  # - "vast_checkpoints/20251008_0814_wiki_paragraphs_inserted_v3_10_epochs.pt"
  # - "vast_checkpoints/20251008_0817_wiki_paragraphs_inserted_v3_15_epochs.pt"
  # - "vast_checkpoints/20251008_0820_wiki_paragraphs_inserted_v3_20_epochs.pt"
  # - "vast_checkpoints/20251008_0822_wiki_paragraphs_inserted_v3_25_epochs.pt"
  # - "vast_checkpoints/20251008_0825_wiki_paragraphs_inserted_v3_30_epochs.pt"
  # - "vast_checkpoints/20251008_0827_wiki_paragraphs_inserted_v3_35_epochs.pt"
  # - "vast_checkpoints/20251008_0830_wiki_paragraphs_inserted_v3_40_epochs.pt"
  # - "vast_checkpoints/20251008_0833_wiki_paragraphs_inserted_v3_45_epochs.pt"
  # - "vast_checkpoints/20251008_0835_wiki_paragraphs_inserted_v3_50_epochs.pt"

  # # All examples (Gustavo, Anna, Felipe, and others) (32,8)
  # - "vast_checkpoints/20251008_0838_wiki_paragraphs_inserted_v3_0_epochs.pt"
  # - "vast_checkpoints/20251008_0841_wiki_paragraphs_inserted_v3_5_epochs.pt"
  # - "vast_checkpoints/20251008_0843_wiki_paragraphs_inserted_v3_10_epochs.pt"
  # - "vast_checkpoints/20251008_0846_wiki_paragraphs_inserted_v3_15_epochs.pt"
  # - "vast_checkpoints/20251008_0848_wiki_paragraphs_inserted_v3_20_epochs.pt"
  # - "vast_checkpoints/20251008_0851_wiki_paragraphs_inserted_v3_25_epochs.pt"
  # - "vast_checkpoints/20251008_0853_wiki_paragraphs_inserted_v3_30_epochs.pt"
  # - "vast_checkpoints/20251008_0856_wiki_paragraphs_inserted_v3_35_epochs.pt"
  # - "vast_checkpoints/20251008_0858_wiki_paragraphs_inserted_v3_40_epochs.pt"
  # - "vast_checkpoints/20251008_0901_wiki_paragraphs_inserted_v3_45_epochs.pt"
  # - "vast_checkpoints/20251008_0904_wiki_paragraphs_inserted_v3_50_epochs.pt"

  # # # # All examples (Gustavo, Anna, Felipe, and others) (8,8)
  # # - "vast_checkpoints/20251008_0912_wiki_paragraphs_inserted_v3_0_epochs.pt"
  # # - "vast_checkpoints/20251008_0915_wiki_paragraphs_inserted_v3_5_epochs.pt"
  # - "vast_checkpoints/20251008_0918_wiki_paragraphs_inserted_v3_10_epochs.pt"
  # # - "vast_checkpoints/20251008_0920_wiki_paragraphs_inserted_v3_15_epochs.pt"
  # - "vast_checkpoints/20251008_0923_wiki_paragraphs_inserted_v3_20_epochs.pt"
  # # - "vast_checkpoints/20251008_0926_wiki_paragraphs_inserted_v3_25_epochs.pt"
  # - "vast_checkpoints/20251008_0929_wiki_paragraphs_inserted_v3_30_epochs.pt"
  # # - "vast_checkpoints/20251008_0932_wiki_paragraphs_inserted_v3_35_epochs.pt"
  # - "vast_checkpoints/20251008_0935_wiki_paragraphs_inserted_v3_40_epochs.pt"
  # # - "vast_checkpoints/20251008_0938_wiki_paragraphs_inserted_v3_45_epochs.pt"
  # - "vast_checkpoints/20251008_0941_wiki_paragraphs_inserted_v3_50_epochs.pt"
